//

$image-padding: 2%;

.image-grid{
	img{
		padding: $image-padding/2;
	}
	img:first-child{
		padding-left: 0;
	}
	img:last-child{
		padding-right: 0;
	}

	.full-width,.size-full{
		width: 100%;
	}

	.half-width,.size-medium{
		float: left;
		width: 50%;
	}

	.one-third-width{
		float: left;
		width: 31.15%;
	}

	.two-thirds-width{
		float: left;
		width: 68.85%;
	}
}
