.comment-form-header{
	input{
		font-family: $font__titles;
		@include font-size(1.4);
	}
}

.comment-form-comment{
	label{
		font-family: $font__titles;
		@include font-size(1.4);
	}
}

.form-submit{
	input{
		font-family: $font__titles;
		@include font-size(2);
	}
}