h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__titles;
}

.site-header{
	h1, ul{
		letter-spacing: -0.1rem;	
		padding: 2.5rem 0;
	}
	h1{
		@include font-size(2);
		line-height: 1;	
	}
	ul{
		font-family: $font__titles;
		@include font-size(1.5);
		text-transform: uppercase;
		line-height: 1.6;	
	}
	a{
		text-decoration: none;
	} 
}

.has-featured-image .site-header{
	a{
		text-decoration: none;
	}
}

.main-navigation {
	text-align: right;
}

.excerpt{
	a{
		text-decoration: none;
	}
}

.entry-header{
	h1{
		@include font-size(4);	
		font-weight: 700;
		letter-spacing: -0.25rem;
		line-height: 1;
		text-align: center;
	}
}

.entry-content{
	h1{
		@include font-size(5);
	}
	h2{
		@include font-size(4);
	}
	h3{
	@include font-size(3.5);	
	}
	h4{
		@include font-size(3.25);
	}
	h5{
		@include font-size(3);
	}
	h6{
		@include font-size(2.75);
	}

	h1,h2,h3,h4,h5,h6{
		letter-spacing: -0.3rem;
	}
}