$device__small: "(max-width: 40rem)";
$device__medium: "(min-width: 40.1rem) and (max-width: 64rem)";
$device__large: "(min-width: 64.1rem) and (max-width: 120rem)";
$device__xlarge: "(min-width: 120.1rem )";