.site-header{
	position: absolute;
		top: 0;
		left: 0;
		right: 0;
	margin: 0 5rem 5rem;
}

.site-branding{
	@include grid-column($columns: 3, $collapse: true);
}

.logged-in .site-header{
	top: 32px;
}	

.site-description{
	display: none;
}

