.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.excerpt{
	position: relative;
	max-width: $size__content-max-width;
	height: 20rem;
	margin: 1rem auto;
	padding: 2rem;
	overflow: hidden;
	transition: all ease-in .2s;

	&:first-child{
		margin-top: $size__content-padding-top;
	}

	.excerpt-img, .excerpt-img:after{
		position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
	}

	.excerpt-overlay{
		@include vertical-align;
		position: absolute;
			left: 0;
			right: 0;
		padding: 6rem 0;
		color: $color__titles;
		transition: all ease-in-out .2s;
	}

	.excerpt-img{
		background-size: cover;
		background-position: center;
		-webkit-transition: -webkit-transform ease-in-out 10s;
		transition: transform ease-in-out 10s;
		
		&:after{
			content:"";
			background-color: rgba(65,61,61,0.6);
			transition: background-color ease-in-out .2s;
		}
	}

	&:not(.has-post-thumbnail){
		border-bottom: 1px solid $color__element-divider;
	}

	&.has-post-thumbnail {
		
		.excerpt-overlay{
			color: $color__titles-overlayed;
		}

		&:hover,&:focus{
			text-shadow: 0 1px 2px rgba(0,0,0,0.25);

			.excerpt-overlay{
				color: $color__titles-overlayed;
			}
			.excerpt-img{
				-ms-transform: scale(1.5);
				-webkit-transform: scale(1.5);
				transform: scale(1.5);
			}
			.excerpt-img:after{
				background-color: rgba(65,61,61,0);
			}
		}
	}

	&:hover,&:focus{

		background-color: rgba(65,61,61,0.05);

		.excerpt-overlay{
			color: $color__titles-hover;
			-ms-transform: scale(1.025) translateY(-48%);
			-webkit-transform: scale(1.025) translateY(-48%);
			transform: scale(1.025) translateY(-48%);

		}	
	}
}

.single{
	.entry-header{
		margin-top: $size__content-padding-top;
		height: 30vw;

		h1{
			@include vertical-align;
			max-width: $size__content-max-width;
			margin: 0 auto;
			color: $color__titles;
		}
	}

	.has-post-thumbnail .entry-header{
		height: 60vw;
		background-size: cover;
		background-position: center;

		h1{
			color: $color__titles-overlayed;
		}

		@media #{$device__small}{
			min-height: 30vh;
		}
	}

}

.entry-header{
	margin: 0 5rem;
}

.entry-excerpt, .entry-content{
	padding: 0 5rem;

	p, ul, ol{	
		max-width: $size__content-max-width;
		margin-left: auto;
		margin-right: auto;
		color: rgba(0,0,0,0.78);
	}
}

.entry-footer{
	max-width: $size__content-max-width;
	margin: 2rem auto 0;

	a{
		color: $color__text-accent_1;
	}
}

.single {
	.entry-footer{
		overflow: auto;
		padding: 2rem 1rem;
		border-top: 1px solid $color__element-divider;
		border-bottom: 1px solid $color__element-divider;
	}

	.entry-meta{
		@include grid-column($columns: 4);
		min-height: 85px;
		padding: 0 0 0 2rem;
		border-left: 1px solid $color__element-divider;
		color: $color__text-secondary;

		.posted-on,.posted-on a,.cat-links,.tag-links{
			display: block;
		}

		.cat-links,.tags-links{
			span{
				display: block;
			}
		}		
	}
}

.entry-author{
	@include grid-column($columns: 8);
	
	img{ 
		float: left;
		width: 75px;
		height: 75px;
		margin: 0 2rem 1rem 0;
		border-radius: 50px;
	}

	p{
		margin-bottom: 0;
	}
}

.entry-author-bio{
	color: $color__text-secondary;
}
